# Пример файла переменных окружения для локального запуска проекта

DATABASE_URL=postgresql+psycopg2://YOUR_USERNAME:YOUR_PASSWORD@localhost:5432/gastroguide_db
GEMINI_API_KEY=YOUR_KEY_HERE
ORS_API_KEY="YOUR_KEY_HERE"

SECRET_KEY=super_secret_key_change_me_123456789
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7